@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
}

.dark {
  --background: 17, 24, 39;
  --foreground: 255, 255, 255;
}

.theme-wrapper {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.5s infinite;
}

@keyframes puppyRun {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 50px);
  }
}

@keyframes carChase {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% - 150px);
  }
}

@keyframes puppyCaught {
  0% {
    left: calc(100% - 50px);
  }
  100% {
    left: calc(100% - 100px);
  }
}

@keyframes carCatch {
  0% {
    left: calc(100% - 150px);
  }
  100% {
    left: calc(100% - 100px);
  }
}

.animate-puppy-run {
  animation: puppyRun 10s linear;
  animation-fill-mode: forwards;
}

.animate-car-chase {
  animation: carChase 10s linear;
  animation-fill-mode: forwards;
}

.animate-puppy-caught {
  animation: puppyCaught 0.5s linear;
  animation-fill-mode: forwards;
}

.animate-car-catch {
  animation: carCatch 0.5s linear;
  animation-fill-mode: forwards;
}